.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(
    100vh - 0px
  ); /* in order to get height calculated in pixels, all children can now calculate heights as percentage of parent height */
  background-color: #f8f8f8;
  padding: 20px;
}

.containerUsersList {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: yellow;
  margin: 20px;

  .header {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    border: 1px solid red;
    color: "black";
  }

  .containerList {
    display: flex;
    width: 100%;
    height: calc(100% - 100px); /* get all the height - header height */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    background-color: lightblue;
    overflow: scroll;
    border: 1px solid green;

    .containerUser {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid red;
      padding: 12px;
      color: darkgray;
    }
  }
}

.containerChat {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: yellow;
  margin: 20px;

  .header {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 1px solid red;
  }

  .containerList {
    display: flex;
    width: 100%;
    height: calc(
      100% - 300px
    ); /* get all the height - header, footer heights */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    background-color: lightgrey;
    border: 1px solid darkgray;
    border-top: none;
  }

  .footer {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

    .containerMessage {
      display: flex;
      width: 80%;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: lightblue;
      padding: 20px;
    }

    .containerButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 100%;

      background: lightgrey;
      border: 1px solid darkgray;
    }

    .buttonMessage {
      width: 100px;
      height: 40px;
    }
  }
}
